* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  line-height: 1;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  /*メニューを右端に置く方法その１*/
  padding: 0 2%;
  align-items: center;
  position: fixed;
  /*ヘッダーの位置を固定*/
  top: 0;
  /*ヘッダーの位置を固定（上0）*/
  left: 0;
  /*ヘッダーの位置を左固定（左０）*/
}

h1 img {
  width: 20%;


}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: #808080
}

nav {
  margin-left: auto;
  /*メニューを右端に置く方法その２*/
}


.firstview {
  position: relative;
}

.relative__img {
  margin: 80px 0 0 auto;
  display: block;
  width: 60%;
}

.firstvew__content {
  position: absolute;
  top: 25px;
  left: 310px;
}

.absolute-ttl {
  font-size: 63px;
  font-family: 'Indie Flower', cursive;
  color: #C71585;
  font-style: normal;
  font-weight: bold;
}


.ttl {
  font-size: 22px;
  color: #C71585;
}

span {
  color: #008B8B;
}

.text {
  color: #808080;
}

.news__content {
  margin-top: 5vw;
  height: 300px;
  margin-bottom: 5vw;
  display: block;
}

.news-ttl-logo {
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  color: #C71585;
  padding-left: 28vw;
}

.news-ttl {
  color: #808080;
  padding-left: 28vw;
}

.news-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.line {
  border-top: 3px solid #DCDCDC;
  width: 50vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.news-nav-item {
  margin-bottom: 1vw;
}

.news-date {
  color: #808080;
  margin: 1vw;
}

.news-tag {
  width: 7vw;
  color: #fff;
  background: #C71585;
  padding: 5px 0;
  text-align: center;
  border-radius: 30px;
  display: inline-block;
  margin: 2%
}

.news-text {
  color: #808080;
  display: inline-block;
  margin: 10px;
}

.line-1 {
  border-top: 1px solid #DCDCDC;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.news-nav {
  margin: 5px auto 0;
}

.about {
  height: 450px;
  background-color: #F5F5F5;
  margin-top: 550px;
  display: block;
}

.about__content-ttl-logo {
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  color: #C71585;
  margin-left: 50%;
  padding-top: 40px;
}

.about__content-ttl {
  color: #808080;
  text-align: center;
}

.about__content-wrap {
  width: 100%;
  height: 40%;
  display: flex;
}

.about__content-text {
  width: 600px;
  color: #808080;
  font-size: 1.3vw;
  line-height: 38px;
  white-space: pre-wrap;
  display: inline-block;
  margin-left: 10%;
  margin-bottom: 5%;
}

.about__img {
  width: 400px;
  display: inline-block;
  margin-left: 10%;
  margin-top: 2%;
  margin-right: 10%;
}

.service {
  margin-top: 60px;
  height: 550px;
  display: block;
  margin: 0 auto;
}

.service-ttl-logo {
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  color: #C71585;
  margin-left: 300px;
}

.service-ttl {
  color: #808080;
  margin-left: 200px;
}

.grid__parent {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 500px 500px 500px;
  margin-left: 20%;

}

.box1 {
  background-color: #C71585;
  grid-column: 1/2;
  grid-row: 1/3;
}

.box2 {
  background-color: rgb(202, 108, 148);
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
}

.box3 {
  background-color: rgb(204, 164, 188);
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
}

.box1__img {
  height: 50%;
  padding-top: 30px;
  margin-left: 170px;
}

.box1__content-ttl {
  color: #fff;
  margin-left: 200px;
}

.box1__content-text {
  color: #fff;
  line-height: 32px;
  padding: 0 60px 0 60px;
}

.box2__img {
  width: 35%;
  padding: 20px 0 0 20px;
  display: block;
}

.box2__content-ttl {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  padding-top: 25px;
  margin-left: 30px;
}

.box2__content-text {
  color: #fff;
  line-height: 28px;
  display: inline-block;
  margin-left: 30px;
}

.box3__img {
  width: 35%;
  padding: 20px 0 0 20px;
  display: block;
}

.box3__content-ttl {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  padding-top: 25px;
  margin-left: 30px;
}

.box3__content-text {
  color: #fff;
  line-height: 28px;
  display: inline-block;
  margin-left: 30px;
}

.flex__item {
  background: #F5F5F5;
  height: 650px;
  display: block;
}

.card-ttl-logo {
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  color: #C71585;
  margin-left: 300px;
  padding-top: 20px;
}

.card-ttl {
  color: #808080;
  margin-left: 300px;
}

.pratice__card-content {
  display: flex;
  justify-content: space-between;
  margin: 0 250px 0 250px;
}

.pratice__card {
  Width: 30%;
}

.card__img {
  position: relative;
}

.card__img img {
  Width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__content {
  background: #fff;
  padding: 15px 25px;
  border-radius: 0 0 20px 20px;
}

.card__content-ttl {
  font-size: 17px;
  color: #808080;
}

.card__cat {
  position: absolute;
  left: 0;
  border-radius: 20px 0 0 0;
  color: #fff;
  background: #c71585;
  padding: 10px 20px 10px 20px;
  display: inline-block;
}

.card__content-tag {
  padding-bottom: 5px;
  display: block;
}

.card__content-tag-item {
  display: inline-block;
  font-weight: 10px;
  color: #808080;
}

.card__content-tag-item-last {
  display: inline-block;
  margin-left: 20px;
  font-weight: 10px;
  color: #808080;
}

.list__btn {
  width: 250px;
  font-size: 16px;
  color: #C71585;
  text-align: center;
  padding: 20px 60px 20px 60px;
  background: #fff;
  border-radius: 30px;
  border: 3px solid #C71585;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.company {
  height: 500px;
  display: block;
}

.span__ttl-logo {
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  color: #C71585;
  margin-left: 300px;
  padding-top: 40px;
}

.span__ttl {
  color: #808080;
  margin-left: 300px;
}

.company {
  display: block;
  margin: 0 auto;
}

.company table {
  margin-left: 300px;
  border-collapse: collapse;
  /* セルの境界線を共有 */
}

.company td {
  color: #808080;
  text-align: left;
  line-height: 38px;
  font-size: 22px;
  padding: 10px 10px 10px 20px;
  width: 500px;
  border: 1px solid #A9A9A9;
  /* 表の罫線(=セルの枠線) */
  padding: 0.5em 1em;
  /* セル内側の余白量 */
}

.company th {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 38px;
  background-color: #F5F5F5;
  color: #808080;
  width: 280px;
  padding: 10px 10px 10px 20px;
  border: 1px solid #A9A9A9;
  /* 表の罫線(=セルの枠線) */
  padding: 0.5em 1em;
  /* セル内側の余白量 */
}

.company tr {
  border: 1px solid #A9A9A9;
  /* 表の罫線(=セルの枠線) */
  padding: 0.5em 1em;
  /* セル内側の余白量 */
}

.company__info {
  display: flex;
  height: 500px;
  padding-top: 50px;
}

.adoption-img {
  position: relative;
  width: 50vw;
}

.adoption-img img {
  width: 100%;
}

.adoption-btn {
  position: absolute;
  text-align: center;
  left: 50%;
  display: inline-block;
  color: #fff;
  width: 200px;
  font-size: 25px;
  top: 150px;
  left: 280px;
}

.interview-img {
  position: relative;
  width: 50vw;
}

.interview-img img {
  width: 100%;
}

.interview-btn {
  position: absolute;
  text-align: center;
  left: 200px;
  display: inline-block;
  color: #fff;
  width: 300px;
  font-size: 25px;
  top: 150px;
  left: 230px;
}

.inquiry {
  height: 300px;
  display: block;
}

.inquiry__tet {
  color: #808080;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.line-2 {
  margin-left: 50%;
  margin-top: 15px;
  width: 3px;
  height: 40px;
  background-color: #C71585;
  display: block;
}

.inpuiry__btn {
  position: relative;
  width: 300px;
  padding: 30px 0;
  color: #fff;
  border-radius: 40px;
  background: linear-gradient(90deg, #FF1493, #C71585);
  text-align: center;
  box-shadow: 0 10px 0 #C71585;
  margin-left: 40%;
  display: block;
  margin-top: -200px;
}

.inpuiry__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}

.footer {
  background-color: #F5F5F5;
  height: 70px;
  width: 100%;
  display: block;
  margin-top: 70px;
}

.copy-right {
  display: block;
  margin: 0 auto;
}

.copy-right-text {
  color: #808080;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  margin-left: 40%;

}

.copy-right-text span {
  font-size: 5px;
  color: #808080;
}